[2014-01-29 13:29] leoselig opened #25 "Installation fails on Ubuntu"
On my Ubuntu 64bit I run the following command:
```npm install node-xmpp-client```

I receive the following output:

npm WARN package.json proxy-xmpp-json@0.0.1 No repository field.
npm WARN package.json proxy-xmpp-json@0.0.1 No README data
npm http GET https://registry.npmjs.org/node-xmpp-client
npm http 304 https://registry.npmjs.org/node-xmpp-client
npm http GET https://registry.npmjs.org/faye-

[2014-05-02 01:43] shc023 opened #48 "LegacySSL issue?"
Hello,
I'm currently trying to use node-xmpp-client to connect to a server with legacy SSL requirement.
(I am looking at the guides [here](http://forums.euw.leagueoflegends.com/board/showthread.php?p=13155286) on how to connect to this server with 3rd party apps, which is working.)
The issue that I'm seeing is, when I don't have "legacySSL: true" in my client's initial option attributes, it discon

[2014-06-09 12:59] piranna opened #49 "Duplicate events"
On BOSHConnection class, the methods processResponse(), mayRequest() and end() are dispatching ```disconnect```, ```close``` & ```end``` events, making their callbacks to being called several times. This should be checked and prevented so they are only dispatched once.

[2014-06-25 14:48] chris-rock opened #51 "Bosh + Sasl"
The current bosh client does not work with properly with sasl authentication. It should generate

[code]

Additionally it looks like Bosh and Websockets do not use the normal Socket Connection. I think this should be harmonized in order to implement core features only once.

Have I missed something?

[2014-07-09 07:45] lloydwatkin opened #54 "Integration test for server stopping during connection"
[code]

1) Socket connections Errors when the server is stopped:
     Uncaught Error: XML parse error
      at Connection.error (/home/travis/build/node-xmpp/node-xmpp-client/node_modules/node-xmpp-core/lib/connection.js:389:24)
      at StreamParser.<anonymous> (/home/travis/build/node-xmpp/node-xmpp-client/node_modules/node-xmpp-core/lib/connection.js:214:14)
      at StreamParser.EventEmitter.e

[2014-12-12 06:19] gowthaman-i2i opened #80 "npm Install issue : Failed at the node-stringprep@0.5.4 install script"
node -v0.10.28
npm  - 1.4.9

Error:

Usage: gyp_main.py [options ...] [build_file ...]

gyp_main.py: error: no such option: --no-parallel
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onCpExit (/home/gowthaman/.nvm/v0.10.28/lib/node_modules/npm/node_modules/node-gyp/lib/configure.js:340:16)
gyp ERR! stack     at ChildProcess.EventE

[2014-12-17 10:46] 75lb opened #83 "BOSH client with authentication issues"
I am struggling to authenticate against an Openfire server.. to cut a long story short, after receiving the `success` stanza `Client.prototype._handleAuthState` emits an `auth` event but there are no listeners, so my script hangs - `online` is never emitted.. should i be listening on the `auth` event myself?

my client
[code]
here is the output in `DEBUG=*` mode:
[code]
if i walk through the code,

[2015-01-05 12:02] matr369 opened #86 "compresssion message zlib"
Hello. How to connect to the server using tls+zlib?

[2015-01-05 16:42] lloydwatkin commented on #86
TLS is included already (nothing needs to be done).
I haven't got any specific tests for zlib yet, but it should connect ok.

[2015-01-06 07:36] matr369 commented on #86
Simply, the server sends a message that the compression zliv, but the client does not respond to this message, as I understand it does not parses <stream:features><starttls xmlns='urn:ietf:params:xml:ns:xmpp-tls'/><compression xmlns='http://jabber.org/features/compress'><method>zlib</method></compression><mechanisms xmlns='urn:ietf:params:xml:ns:xmpp-sasl'><mechanism>SCRAM-SHA-1</mechanism><mechan

[2015-01-06 07:53] lloydwatkin commented on #86
Which xmpp server are you testing against? In the past I've always had zlib
compression switched off due to past security concerns but I'd like to
ensure its working even if compression is ignored for now.
On 6 Jan 2015 07:36, "Evgene Ivashkevich" <notifications@github.com> wrote:

[2015-01-06 08:01] matr369 commented on #86
ejabberd2

[2015-01-06 12:22] DadaMonad opened #87 "Does not work in the browser"
I'm trying to get this to work.

I installed `node-xmpp-client` (v1.0.0-alpha19) with npm (v1.4.28, and node v0.10.33 )

The instructions on your website do not work (for me):
[code]
I browserified my file, but it does not work:
I get an uncought Error:
[code]

I tried the browserified file. But, again, I get a TypeError:
[code]

So far I also tried the version that I found with bower (node-xmpp-c

[2015-01-06 12:32] DadaMonad commented on #87
I just read in #65 that you actually do not support the browser in the 1.0.0- branch.
Could you please indicate that somewhere.
This issue can be closed then.

[2015-01-06 14:15] lloydwatkin commented on #87
Hi,

We are supporting the browser with the 1.0.0 branch and have automated tests for this. Could you download the repository from here and try `node-xmpp-browser.js` which is pushed back into the repo from travisci

[2015-01-06 14:17] lloydwatkin commented on #87
Also what settings are you using? (Obviously redact password field)

[2015-01-06 15:01] DadaMonad commented on #87
I'm happy to hear that :)

Feel free to try it yourself:
[code]

- I also tried to authenticate with username+password.
- I tried non-secure socket 'ws:yatta.ninja:5280/xmpp-websocket'
- I have a Prosody server running (v0.10).
- Strophejs works with my configuration (so my server is probably well configured).

[2015-01-06 15:14] lloydwatkin commented on #87
Ok, currently only bosh works (actually I haven't tested websockets) and does not work with digest-md5 (only plain - there is an issue with browserified md5 library @legastero has investigated).

The new option hash is:

[code]

Websocket URL would be:

[code]

But I haven't confirmed this works yet.

[2015-01-06 15:14] DadaMonad commented on #87
In your [documentation](http://node-xmpp.github.io/doc/nodexmppclient.html), you specify `websocketsURL` as a options parameter:
[code]

When I use `websocket` like this, it works.
[code]

[2015-01-06 15:16] DadaMonad commented on #87
Alright, then this is fine for me. Thanks for your answer!

[2015-01-06 16:20] lloydwatkin commented on #87
It needs to be better, I am trying when I get spare time :)

[2015-01-06 16:20] #87 closed

[2015-02-01 21:07] chris-rock opened #88 "fails on node 0.11"
@lloydwatkin current tests fail on node 0.11 any ideas?

[2015-02-13 19:12] sonnyp commented on #88
node 0.12 as well

[2015-02-13 19:15] sonnyp commented on #51
xmpp restart isn't mandatory. I'm working on this to pass node-xmpp-server BOSH tests.

@mweibel started work on this here: https://github.com/node-xmpp/node-xmpp-client/pull/85

I'm taking over.

[2015-02-13 19:19] lloydwatkin commented on #88
I'm not concerned about 0.11 and I think we should remove from testing 0.12
and iojs are concerns seems to be some event firing issues going on
On 13 Feb 2015 19:12, "Sonny Piers" <notifications@github.com> wrote:

[2015-02-13 19:30] sonnyp commented on #83
@mweibel @75lb yes this is because we don't support stream restart. We're working on merging @mweibel work.

[2015-02-13 22:20] sonnyp commented on #51
Fixed.
PR is https://github.com/node-xmpp/node-xmpp-client/pull/91 and has been merged.

[2015-02-13 22:20] #51 closed

[2015-02-13 22:23] sonnyp commented on #49
@piranna thanks this is actually an issue on ```node-xmpp-core``` with our ```reconnect``` fork

See https://github.com/node-xmpp/node-xmpp-core/issues/59

[2015-02-13 22:23] #49 closed

[2015-02-16 16:40] chris-rock commented on #88
Currently only 0.8 and iojs fail. Drop support for 0.8 and do iojs later?

[2015-02-16 16:43] sonnyp commented on #88
@chris-rock for 0.12 the issue was fixed in https://github.com/node-xmpp/ltx/commit/2ae7db4146791026c48a1ff63018fbef041bb97f

+1 to drop 0.8

[2015-02-16 16:57] lloydwatkin commented on #88
Have just update node-xmpp-core tests and they are now passing. Reinstated 0.8 there to see what happens as there's no reason that shouldn't pass too.

[2015-02-17 10:24] sonnyp opened #97 "Should be able to autstart: false and set password later"
Should be able to ```autstart: false``` and set password later before ```client.connect()```

Right now if you do that you get an SASL error no mechanism available.

[2015-02-21 21:14] JustTSK opened #98 "gtalk group chat"
Is it possible to use this library to join group chat in google Hangouts?

[2015-02-22 19:42] lloydwatkin commented on #98
I'm not sure, possibly. I'd suggest connecting to a google account and starting a group chat with that jid to see what happens. That said I'm unsure what is happening now google have (potentially) killed their XMPP gateway?

[2015-02-24 08:02] tsuncp opened #100 "Cannot load StringPrep-0.5.4 bindings (using fallback)."
var Client = require('node-xmpp-client')

var options = {
    type: 'client',
    jid: '*************@gcm.googleapis.com',
    password: '***************',
    port: 5235,
    host: 'gcm.googleapis.com',
    legacySSL: true,
    preferredSaslMechanism : 'PLAIN'
};
var Client = new Client(options);
Client.on('online',
  function () {
    console.log("online");
});

For testing, only above code is u

[2015-02-24 08:24] lloydwatkin commented on #100
Please see installation instructions for node-stringprep here: http://node-xmpp.org/doc/stringprep.html

[2015-02-24 08:24] #100 closed

[2015-02-24 08:38] tsuncp commented on #100
can stringprep be worked in windows platform?
I can install node-stringprep successfully. However when i run it

var StringPrep = require('node-stringprep').StringPrep;
var prep = new StringPrep('nameprep');
prep.prepare('Äffchen')  // => 'äffchen'

Cannot load StringPrep-0.7.0 bindings (using fallback). You may need to `npm ins
tall node-stringprep`

same error is displayed. Do I need to install

[2015-02-24 08:41] lloydwatkin commented on #100
You can actually get away without having it installed (we have javascript fallbacks), so you could happily ignore the warning if you prefer.  I'm unsure about installing on windows I'm afraid, does the libicu website provide any help?

[2015-03-02 15:32] lloydwatkin opened #101 "Upgrade browserify"
https://github.com/node-xmpp/node-xmpp/issues/266#issuecomment-76731599

[2015-03-06 07:32] thilojith opened #102 "Attach an existing session to get BOSH connection"
I have bosh connection via converse.js in client side. How could I use the same session to get a client connection? Is there any existing feature to achieve it? I tried the below code.. It creates a new connection not using the existing one.
  var client=  new xmpp.Client({
        jid: params.jid,
        password: params.jid,
        preferred: 'PLAIN',
        bosh: {
            url: config.bo

[2015-03-09 06:03] thilojith opened #103 "Problem in disconnecting"
My application integrated with Tigase sever.  "online_status" in "tig_users" table indicates the count of user session. It has incremented when client has created. When client has disconnected, It doesn't get decremented. Is the problem in Tigase or node-xmpp-client?. Please help me to figure out this.
[code]

[2015-03-09 08:29] lloydwatkin commented on #103
Hi @thilojith, can you run `node-xmpp-client` with `DEBUG=*` set and see what the logs tell you.
Additionally you should be able to the same for tigase. `client.connection.end()` should not be required. Does the session count decrease after your BOSH timeout period (generally 60 seconds)?

[2015-03-12 23:00] giladbeeri opened #104 "Problem with deps"
My package depends on `node-xmpp-client` version `1.0.0-alpha15`. This version depends on `node-xmpp-core` version `1.0.0-alpha10`. I found out that originally it downloaded the correct version, but if I run `npm install` now, it downloads *`node-xmpp-core 1.0.0-alpha14`*, even though it still points to `1.0.0-alpha10`.

The problem is that the dependency uses `~`, which means it is allowed to dow

[2015-03-13 09:33] lloydwatkin commented on #104
What is wrong with it pulling newer versions of the alphas?

[2015-03-13 19:00] yuniers opened #105 "Connection has no method 'listen'"
I want send jabber messages and when I execute the server, an error say to me that something is wrong.

My code is:
[code]
Error:

pikete@Pikete-PC:~/prueba-agenda$ nodejs server
/home/pikete/prueba-agenda/node_modules/node-xmpp-client/lib/session.js:81
        this.connection.listen({
                        ^
TypeError: Object #<Connection> has no method 'listen'
    at Client.Session._socketCon

[2015-03-14 18:56] giladbeeri commented on #104
The consumer (the developer which uses that package) can't reproduce his build. That's what happened to me. Apparently something changed in alpha14 (vs. alpha10) that broke my code, and it surprised me and took me some time to find out because I wasn't expected an update.

Once you publish a version, you should either fix all of its dependencies (i.e., don't use `~`, `^`, `*`, `x` and the like in

[2015-03-15 15:50] lloydwatkin commented on #105
@sonnyp I think one of the latest commits to `node-xmpp-core` has broken things for users. Could you take a look please?

See also #104

[2015-03-15 16:06] giladbeeri commented on #104
See https://github.com/node-xmpp/node-xmpp-core/issues/63

[2015-03-16 16:50] giladbeeri opened #106 "node-xmpp-client changes the options object that it gets in the constructor"
[code]

XMPPClient modifies the object it gets as options. It is better to copy it, otherwise the user of the package can be confused by the behavior.

[2015-03-17 01:16] yuniers commented on #105
@lloydwatkin I try installing `node-xmpp-core 1.0.0-alpha10` and work nice, the problem is `node-xmpp-core 1.0.0-alpha14`

[2015-03-17 08:32] lloydwatkin commented on #105
Reopening as there is clearly an issue somewhere between node-xmpp-core alphas 10 and 14

cc @chris-rock @sonnyp

[2015-03-24 15:27] cgianelle opened #107 "gyp ERR! build error"
Fails when trying to install node-xmpp-client on Mac (OSX v 10.9.5) - node-gyp rebuild specifically. I have also seen this fail on Ubuntu 14.04. Same reason.

Node version: v0.12.0

Install output:
GIANELC-M-J09Z:FunWithNode gianelc$ npm install node-xmpp-client

child_process: customFds option is deprecated, use stdio instead.
-

Agreeing to the Xcode/iOS license requires admin privileges, please

[2015-03-24 15:36] lloydwatkin commented on #107
Is this your issue "Agreeing to the Xcode/iOS license requires admin privileges, please re-run as root via sudo."

[2015-03-24 15:47] cgianelle commented on #107
don't know, is it? I'm new to nodejs. I was able to install websocket without any issue, but I get the above when trying to install node-xmpp-client.

[2015-03-24 15:50] lloydwatkin commented on #107
I'd suggest you try running xcode from your laptop, going through any set up and then trying again (xcode isn't nodejs related* its a mac thing).

* not quite true, but true enough.

[2015-03-24 15:53] cgianelle commented on #107
Thanks, I'll give it a try.

[2015-03-24 20:30] cgianelle commented on #107
Thanks, again. I had to accept a license agreement and then everything installed properly.

[2015-03-24 20:30] #107 closed

[2015-04-05 21:24] arty-name opened #108 "Misused semver in versions like 1.0.0-alpha20"
Apparently the `-alpha20` appendage is compared as string with other versions, so it ends up being less then `-alpha9`. Check it out on [semver calculator](http://semver.npmjs.com/). As a result when I have `^1.0.0-alpha20` in my `package.json` and do `npm update` I end up with version `^1.0.0-alpha9`

[2015-04-08 00:42] metalaureate opened #109 "BOSH SSL endpoint does not appear to work"
@lloydwatkin I changed my BOSH endpoint to use SSL, tested my BOSH SSL connection in Adium, and then changed the prebind address to use SSL. Now prebinding does not seem to work. Am I doing something wrong?

[code]

[2015-04-08 12:51] metalaureate commented on #109
My bad - certificate chain not configured properly.

[2015-04-08 12:51] #109 closed

[2015-04-08 13:05] lloydwatkin commented on #109
Glad you got things sorted :)

[2015-05-17 20:04] teseo opened #111 "Error: Cannot find package main file for package: crypto On react-native"
Hello,

I'm trying to build a xmpp mobile client on react native and when I install node-xmpp-client I have plenty of dependencies missing and there's a moment where crypto doesn't allow to carry on due to the error in the title.

Any ideas?

[2015-05-18 14:09] eelcocramer commented on #86
Any updates on this? I'm using prosody with [mod_compression](http://prosody.im/doc/modules/mod_compression) enabled but it seems that the TLS encrypted stream is not being compressed.

[2015-05-26 13:17] lloydwatkin opened #113 "Add grunt-nsp-package support"
Add https://github.com/nodesecurity/grunt-nsp-package to run with travis.

See https://github.com/node-xmpp/node-xmpp-client/pull/112.

[2015-06-12 16:49] envygeeks opened #114 "Don't emit connect on your own feature query."
By emitting connect when you connect for your own feature query you make it hard for us to emit on our own connects (real stream connections,) you also make emitter.once worthless (imnsho) because now you are emitting a connect when the connection isn't even the connection we wanted.

Relevant logs that show what I mean.

[code]

The preferable path is not to emit to the user when you connect and

[2015-07-08 21:26] amirmamaghani opened #115 "Translate gtalk JID to gmail"
I have one big problem - I'm working on chat app and I need to be able to write on gtalk to somebody with JID johndow@gmail.com BUT gtalk uses some weird kind of JID like longandveryanoyinghash@public.talk.google.com . It's ok when messages come from/to this address but initially I need to be able to pair those two addresses together.
Is there any way to retrieve what gtalk JID does johndow@gmail.

[2015-07-13 12:34] lloydwatkin commented on #115
That's probably a question for google rather than us I'm afraid. I'm also unsure how much longer google will support XMPP connections to their hangouts service.

[2015-07-13 12:34] #115 closed

[2015-07-14 08:25] pokal4u opened #116 "How can I print ejabbered offline messages using node-xmpp"
HI,
I am sending messages from 'admin@localhost' to 'test@localhost', and I able to see these messages in ejabbered admin panel.

My code:

var xmpp = require('node-xmpp');
var c2s = new xmpp.C2SServer({
    port: 8088,
    domain: 'localhost'
});
c2s.on("connect", function() {
    c2s.on("register", function(opts, cb) {
        console.log("REGISTER");
		cb(true);
    });
	client = new xmpp.Clien

[2015-07-14 10:20] lloydwatkin commented on #116
It looks like the server is telling you you've sent invalid XML to it.

[2015-07-14 10:26] pokal4u commented on #116
Your saying problem with below lines?

var stanza = new xmpp.Element('message', { to: 'admin@localhost', type: 'chat' }).c('body').t('test');
client.send(stanza);

can you provide valid format?

[2015-07-14 10:28] sonnyp commented on #116
@pokal4u

client.send(stanza.root()) should do the trick

[2015-07-14 10:31] pokal4u commented on #116
no.. getting same error

[2015-07-15 04:22] pokal4u commented on #116
anybody please help me...

[2015-07-15 06:57] pokal4u commented on #116
Also check ejabbered Listened Ports

![ejab](https://cloud.githubusercontent.com/assets/498771/8692552/e31359d4-2aec-11e5-88ac-a06a1339d014.png)

[2015-07-15 08:07] lloydwatkin commented on #116
In your examples you are attempting to run a server in the browser, this will not work - maybe one day :)

You need to remove the server code.

In order to receive the offline messges that you've sent you'll need to open a new client connection, connect to the server with the appropriate account, and send a presence stanza. The server will then push your offline messages to you.

[2015-07-15 08:31] pokal4u commented on #116
I modified code like:

var xmpp = require('node-xmpp');
var client = new xmpp.Client({
	jid: 'admin@localhost',
	password: 'admin123',
	port: 8088,
    domain: 'localhost'
});
client.on('error', function(err) {
	console.log("error::"+err.toString());
});
client.on("authenticate", function(opts, cb) {
	console.log("AUTH" + opts.jid + " -> " +opts.password);
	cb(null, opts);
});
client.on('online',

[2015-07-17 03:46] pokal4u commented on #116
anybody help me.....

[2015-07-17 12:13] lloydwatkin commented on #116
There's no need for this:

[code]

The error you are receiving says you are attempting to send a stanza which the server is unable to handle for some reason.

[2015-07-17 12:24] pokal4u commented on #116
And console.log event fired only "online", what about remaining ?

[2015-07-20 04:59] pokal4u commented on #116
what is that reason?

anybody help me...

[2015-07-21 15:47] lloydwatkin commented on #116
If you run your script with DEBUG=* e.g.

[code]

Then you'll see everything going back and forth. It just may be that the server isn't sending you any stanzas.

[2015-08-06 07:59] amurchick opened #118 "Emit connect event on legacySSL connection (Issue #61 continue)"
Enviroment:
Node: v0.12.7
node-xmpp-client: v1.0.0-alpha23
OS: Mac os x 10.10.4 or Debian 8.1

When connect to CGM like this:
[code]

Event `connect` emits twiсe so startStream() called twice and no actual session established:
[code]

If revert changes of this this pull request https://github.com/Riplexus/node-xmpp-client/commit/2506a18d9dd4c81ea90cf3ccdf83fca7ad7af0d4 from issue https://github.co

[2015-08-06 08:59] amurchick opened #119 "Please make configurable 'xmlns' options in Client()"
I need to
[code]
e.g. `xmlns="jabber:client:simplified"` instead of standart `xmlns="jabber:client"`

But in Client.prototype.connect https://github.com/node-xmpp/node-xmpp-client/blob/master/index.js#L173 I am see:
[code]
e.g., parametr `xmlns` overwritted when I am call
[code]

Please change https://github.com/node-xmpp/node-xmpp-client/blob/master/index.js#L173 to this code
[code]

Thank you!

[2015-08-29 23:43] hhellbusch commented on #115
@amirmamaghani any luck on this?  Came across the same issue.  tried using https://github.com/simple-xmpp/node-simple-xmpp as well with no success.

[2015-09-12 17:39] jmcoimbra opened #123 "http://node-xmpp.org/ down"
Hello,

Since you are pointing to this website in your repository, could you please check why it is down.

Thanks

[2015-09-19 11:20] iliakan opened #124 "The latest supported node?"
Is iojs 2.5.0 the latest supported version?

[2015-09-19 11:24] sonnyp commented on #124
4 should work fine, any issues?

[2015-09-19 11:53] iliakan commented on #124
It fails to install on versions greater than 2.5.0

That's the log for 4.1.0:
[code]

[2015-09-19 12:11] iliakan commented on #124
Could you please write back: is that a simple issue or won't be fixed soon?

I really need to know that to decide whether to rewrite a part of the project, or to keep waiting.

Thank you so so much!

[2015-09-19 14:04] iliakan commented on #124
P.S. That was for Mac.

[2015-09-19 14:05] sonnyp commented on #124
node-stringprep is not compatible with 4 yet indeed.
Not sure when I'll have time to look at it.

[2015-09-21 14:44] sonnyp commented on #123
fixed, sorry for the delay

[2015-09-21 14:44] #123 closed

[2015-09-24 06:54] gpadbidri opened #125 "XMPP Authentication Failure with Prosody"
HI I am using the Node XMPP Client Module to authenticate to the Prosody Server and then send a Stanza...However, eventhough the credentials are CORRECT, I get an XMPP Authentication Failure. Why is it so ? Am I missing on something ? OR is there any Prosody Configuration that needs to be done to allow authentication via this module ? Let me knoe your comments on the same. Thanks !

Screenshot of

[2015-09-25 07:59] lloydwatkin commented on #125
There's no special prosody config required, its all standard XMPP. From the screenshot I can just tell that your authentication failed but not why. Do Prosody logs help? Can you login via a standard XMPP client to the same account?

We run our test suite against an install of prosody so I'm 100% confident the issue isn't with `node-xmpp-client` (check out the tests directory - includes our config)

[2015-09-30 08:58] iliakan commented on #124
Is it possible to disable stringprep?

[2015-09-30 09:09] sonnyp commented on #124
@iliakan not easily but it is an easy to fix issue

[2015-09-30 09:10] sonnyp commented on #124
Effort to make stringprep work with Node 4 is here https://github.com/node-xmpp/node-stringprep/pull/72

[2015-09-30 20:49] pengying commented on #118
+1 fixed the CCS connection for me as well

[2015-10-06 09:12] sonnyp commented on #124
v2.0.0 is working with Node 4

[2015-10-06 09:12] #124 closed

[2015-10-06 09:37] iliakan commented on #124
great! thanks!

[2015-10-06 15:24] lloydwatkin commented on #124
:+1:

[2015-10-07 05:45] bgrins opened #134 "Error connecting Client with version 2.0"
Hi, I just installed 2.0 and when running a fairly simple test, I was receiving "XMPP authentication failure".

    var client = new Client({
        jid: 'test@localhost',
        password: 'password',
        preferred: 'PLAIN',
        host: 'hostname',
    });

    client.on('error', function(e) {
        console.error(e); // "XMPP authentication failure"
    })

I tried changing the preferred

[2015-10-07 10:12] sonnyp commented on #134
sorry about that fixed in https://github.com/node-xmpp/node-xmpp-client/pull/135 and released as 2.0.1

[2015-10-07 10:12] #134 closed

[2015-10-07 10:13] #125 closed

[2015-10-07 10:13] sonnyp commented on #119
will accept a PR

[2015-10-07 10:14] #116 closed

[2015-10-07 10:15] #88 closed

[2015-10-07 15:33] bgrins commented on #134
Thanks!

[2015-10-08 11:10] alemures commented on #118
Thanks a million @amurchick , you saved my life.

[2015-10-08 20:22] alemures commented on #118
@amurchick @pengying my pull request with the bug fix was accepted so this issue should be fixed and closed.

[2015-10-09 08:29] rohitmanusis opened #137 "Node-xmpp-client digest-md5 not working"
I tried to login using following code but it's not working. Error : XMPP Authentication Failure. I have installed OpenFire. Server is properly working when i tried to connect with JAVA.

var Client = require('node-xmpp-client');
var cl = new Client({
  jid : "ttest",
  password : '123456',
  host :'localhost',
  reconnect : true,
});

cl.on('online', function() {
  console.log('online');
});

cl.o

[2015-10-09 09:18] sonnyp commented on #137
what is your node-xmpp-client version?

[2015-10-09 10:27] rohitmanusis commented on #137
I tried using 2.0.2 but it did not work.

[2015-10-09 10:45] sonnyp commented on #137
how do you it's using digest-md5 ?

[2015-10-09 11:57] rohitmanusis commented on #137
I checked code internally and found digest-md5 is the default mechanism.  Check this file

node-xmpp-client\lib\Client.js : 194 (line number)

No it's not working with preferredSaslMechanism: 'PLAIN' also.

[2015-10-09 11:58] sonnyp commented on #137
most probably your password/jid is wrong, can you double check?

If it's not the case please give me your openfire version and configuration

[2015-10-09 12:07] rohitmanusis commented on #137
My password/jid is correct. I am able to connect using JAVA.

Openfire version : Openfire 3.10.2

[2015-10-09 12:08] sonnyp commented on #137
In your code you have ``` jid : "ttest",``` it should be ``` jid : "ttest@localhost",```

can you try again with @localhost ?

[2015-10-09 12:21] rohitmanusis commented on #137
Yes, It's working now. Thanks Man!
Can you please let me know why it was not working without  'PLAIN' ?

[2015-10-09 12:22] sonnyp commented on #137
remove preferedSaslMechanism and try again

The issue was the missing domain in the jid
ttest instead of ttest@localhost

[2015-10-09 12:22] rohitmanusis commented on #137
No, it's not working without "PLAIN"

[2015-10-09 12:24] sonnyp commented on #137
even with ttest@localhost as jid?

[2015-10-09 12:24] sonnyp opened #138 "digest SASL not working with openfire"
see https://github.com/node-xmpp/node-xmpp-client/issues/137

[2015-10-09 12:25] #137 closed

[2015-10-09 12:25] rohitmanusis commented on #137
var Client = require('node-xmpp-client');

var cl = new Client({
  jid : "ttest@localhost",
  password : '123456',
});

Not it's not working without "PLAIN".

[2015-10-09 12:26] sonnyp commented on #137
if it doesn't work with digest it could be an incompatibility between node-xmpp-client and openfire; I've file https://github.com/node-xmpp/node-xmpp-client/issues/138

[2015-10-09 12:27] rohitmanusis commented on #138
which Openfire version is compatible with Node-xmpp-client

[2015-10-09 12:32] sonnyp commented on #138
I have referenced https://github.com/node-xmpp/node-xmpp-client/issues/137 which means this assumption is based on your issue.

[2015-10-09 12:33] rohitmanusis commented on #138
Ok i will try another version and will let you know.

[2015-10-17 12:55] #113 closed

[2015-10-17 12:56] lloydwatkin commented on #103
Closing due to lack of activity

[2015-10-17 12:56] #103 closed

[2015-10-17 12:57] lloydwatkin commented on #111
I guess we'd have to swap out this module for the browserified crypto module?

[2015-10-17 12:58] lloydwatkin commented on #25
Closing due to lack of activity. Hope the issue was solved :)

[2015-10-17 12:58] #25 closed

[2015-10-17 13:01] lloydwatkin commented on #80
@gowthaman-i2i can you try with the latest version please?

Otherwise closing

[2015-10-17 13:01] #80 closed

[2015-10-17 13:02] lloydwatkin commented on #98
Closing due to lack of activity

[2015-10-17 13:02] #98 closed

[2015-10-17 13:03] lloydwatkin commented on #104
Hi @giladbeeri, @sonnyp has been hard at work, can you try with the latest version (1.x) and report back if not all is ok. Thanks!

[2015-10-17 13:03] #104 closed

[2015-10-17 13:03] lloydwatkin commented on #105
Closing again as @sonnyp has been hard at work

[2015-10-17 13:03] #105 closed

[2015-10-17 13:04] lloydwatkin commented on #108
We've moved to 1.x now, and we'll use proper alpha versioning in semver next time :)

[2015-10-17 13:04] #108 closed

[2015-10-17 13:05] lloydwatkin commented on #54
I think this is fixed by #140

[2015-10-17 13:05] #54 closed

[2015-10-18 10:42] sonnyp commented on #113
cool

[2015-10-19 10:20] dluciv opened #141 "JID with '@' in resource parsed incorrectly"
JIDs with '@' in resource like `root@example.com/client@machine' are not parsed correctly

E.g.

[code]

then `j` is:

[code]

[2015-10-19 12:56] sonnyp commented on #111
@teseo I have no idea how react native works but you probably need to use the browser build.

[2015-10-19 18:54] #141 closed

[2015-10-19 19:09] dluciv commented on #141
Sorry, thank you =)

[2015-10-21 19:31] austinkelleher opened #143 "stanza.getAttribute is not a function"
I upgraded to the newest version of node-xmpp-client from 1.0.0-alpha23, and I began receiving the following error:

[code]

Example of code:

[code]

Could it be possibly related to [this](https://github.com/node-xmpp/node-xmpp-client/commit/fc149e6babfb0d1a1bb2ebf8664a04dbfdfef040#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R31) change? What is the proper way to `getAttribute` now?

[2015-10-21 19:33] sonnyp commented on #143
Hello,

The DOM API was moved to a different class.

Please use stanza.attrs.type or stanza.attr('type')

[2015-10-21 19:33] #143 closed

[2015-10-22 01:05] austinkelleher commented on #143
:+1:

[2015-10-23 13:18] lloydwatkin commented on #143
We shouldn't be using `Element.js` from `ltx` but `DOMElement.js` this is required for use in the browser.

[2015-10-23 13:26] sonnyp commented on #143
@lloydwatkin why is DOMElement.js required for use in the browser?

It's just a DOM API compatible wrapper around Element.

[2015-10-24 04:28] aigninja opened #144 "Xmpp client.end() method"
To disconnect XMPP client , I am using client.end() method but due to this method 'offline' event got triggered twice. While debugging I found below code.  Here, WSConnection.end() method calls websocket.close() , again both method triggers 'disconnect' and 'close' events, which triggers 'offline' event  twice.

WSConnection.prototype.onclose = function() {
    this.emit('disconnect')
    this.emi

[2015-10-24 12:32] sonnyp commented on #144
I guess removing

[code]

from the end method should be enough. Although we have to make sure it works the same with BOSH and TCP.

@lloydwatkin makes sense to you?

[2015-10-25 07:36] aigninja commented on #144
@sonnyp thanks for reply

If we remove this.websocket.close() then, underlaying websocket connection will be closed?

How we can test/check websocket connections are not properly closed? Any tool OR command?

[2015-10-25 14:22] sonnyp commented on #144
huh sorry not sure what I was thinking that was completely wrong.
we could remove
```this.emit('disconnect')```
from onclose method
but it's unclear what events are expected

[2015-10-31 05:22] aigninja commented on #144
Sorry, that was not working for me and for late reply. I have found a solution as below and it works. Could you please approve this code, so I will create PR? Your inputs are valuable.

=================================
WSConnection.prototype.onclose = function() {
    this.emit('disconnect')
    this.emit('close')
}

WSConnection.prototype.end = function() {
    this.streamOpened = false; //  We

[2015-11-01 02:41] aigninja opened #148 "different websocket NPM modules in node-xmpp-server" and "node-xmpp-client""
Project "node-xmpp-server" and "node-xmpp-client" both have support for Websockets.

"node-xmpp-server" provide websocket support through https://github.com/websockets/ws

"node-xmpp-client" provide websocket support through https://github.com/faye/faye-websocket-node

Can we use same webcoskets NPM module in in both

[2015-11-01 16:27] sonnyp commented on #148
@aigninja I guess that would makes sense but I don't see an immediate benefit.

[2015-11-13 09:19] sonnyp opened #152 "Configuring port without host doesn't work as expected"
```new Client({jid: 'foo@localhost', password: 'foobar', port: 6767})```

tries localhost:5222

```new Client({jid: 'foo@localhost', password: 'foobar', port: 6767, host: 'localhost'})```

behave as expected and tries localhost:6767

We should use port provided as option even if host is not defined (and try the domain from the JID)

[2015-11-13 10:06] sonnyp opened #153 ".end() shoult take a callback"

[2015-12-01 12:26] jmcoimbra opened #159 "v3.0.0 gets invalid namespace for connections with Jitsi"
Hello guys,

We are using your module in a product we are designing for Jitsi Videobridge, but after we have changed for v3.0.0 we have started getting _stream:error_ for a _invalid-namespace_ just for instantiating a connection.

[code]

Changing to your tag v2.1.0 we are OK.

[2015-12-01 13:11] sonnyp commented on #159
hmmm node-xmpp-client 3 WebSocket now use http://tools.ietf.org/html/rfc7395 and support for previous draft was removed, maybe jitsi doesn't support final RFC?

[2015-12-01 13:35] jmcoimbra commented on #159
Hey, thanks for this heads up.

We use [Prosody](https://prosody.im). It seems they are on the old draft since their last release was "2015-03-26".

Thanks

[2015-12-01 13:59] sonnyp commented on #159
@jmcoimbra indeed, prosody 0.10 works fine with node-xmpp-client 3
I recommend you to use node-xmpp-client 2 until you're able to switch to prosody 0.10

[2015-12-01 14:54] jmcoimbra commented on #159
OK, thank you for helping me out!

[2015-12-01 14:54] #159 closed

[2015-12-01 15:19] sonnyp opened #160 "replace phantomjs with jsdom"
phantomjs is a pain

[2015-12-08 17:59] robolange opened #163 "Documentation uses the wrong option for preferred SASL mechanism"
The documentation at http://node-xmpp.org/doc/client.html says that the option 'preferredSaslMechanism' chooses the authentication mechanism. In the actual code, the option name is really 'preferred'.

[2015-12-12 12:18] sonnyp commented on #48
closing due to inactivity please reopen if you're still having an issue

[2015-12-12 12:18] #48 closed

[2015-12-26 17:10] brbrr opened #170 "Turn on Logging"
Hi. Im quite new to node, so I could miss something.

I'm looking for a way to log client actions like sending/receiving stanza's, etc.
Pls point me where to look for.
Also, I was not be able to find any api docs for this package. is there any?

Thanks!

[2015-12-26 19:09] sonnyp commented on #170
check http://node-xmpp.org/doc/client.html and https://github.com/node-xmpp/node-xmpp-client/tree/master/examples

[code]

[2015-12-29 21:18] lloydwatkin commented on #170
also you can run your code with the environment variable `DEBUG` set to `*`

[2016-01-05 21:31] wyattbiker opened #172 "Does this client support websocket connection to Openfire XMPP?"
I am stuck. I was using node-strophe, but it doesn't support websockets at this point (I don;t think it's even maintained). I am debating of switching to just pure XMPP for my application. Does this client support xmpp over websocket?

Thanks!

[2016-01-05 23:47] sonnyp commented on #172
yes see websocket http://node-xmpp.org/doc/client.html option

Strophe.js does support XMPP transport, maybe node-strophe is not up do date?
I'd recommend stanza.io or xmpp-ftw though.

[2016-01-06 12:57] brbrr commented on #170
@lloydwatkin awesome, thanks! that's should work.

Also, to use debug in repl - just start node console like `$DEBUG=* node`

[2016-01-06 12:57] #170 closed

[2016-01-06 16:13] wyattbiker commented on #172
Unfortunately node-strophe is not up to date. So i shot my self in the foot because websockets came as new requirement. I am hoping the developer will be able to update it soon.

I have a custom XEP-XXXX that is implemented. Will node-xmpp support unkown XEPs? Is there a way to do it?

[2016-01-06 17:09] lloydwatkin commented on #172
As you simply send and receive stanzas its up to the developer to support XEPs :)

Have you raised an issue for the maintainer of `node-strophe` about its out of date state?

[2016-01-06 19:50] #172 closed

[2016-02-09 16:11] #83 closed

[2016-03-07 21:22] kamijoutouma opened #197 "Online event emitted but not connected"
I use ejabberd for my xmpp server.

I cant get node xmpp client to connect via bosh without giving an internal server error. and when i try to connect via the normal method it sends "online" but its not actually connected.

Is there a bug in the connection module. Also
[code]

That might have something to do with it.

[2016-03-08 08:44] sonnyp commented on #197
You can ignore the warning for now it's unrelated.

We need more information.

Use export debug=* before running your script to log debug messages and paste them here.
Also how do you know you're not really connected when it emits the online event?

[2016-03-08 15:54] kamijoutouma commented on #197
I know because my pidgin client never once showed the account i had the
script on come online.
And i'll do it once i'm at work.
On Mar 8, 2016 3:44 AM, "Sonny Piers" <notifications@github.com> wrote:

[2016-03-08 16:01] sonnyp commented on #197
The script client has to send a presence for the account on pidgin to see the it online.

[2016-03-08 16:19] kamijoutouma commented on #197
Why is that not documented?
On Mar 8, 2016 11:01 AM, "Sonny Piers" <notifications@github.com> wrote:

[2016-03-08 16:21] sonnyp commented on #197
@kamijoutouma it's not a node-xmpp thing, it's how XMPP works

[2016-03-08 16:23] kamijoutouma commented on #197
Is that also the reason no stanza is recieved?
On Mar 8, 2016 11:21 AM, "Sonny Piers" <notifications@github.com> wrote:

[2016-03-08 16:24] sonnyp commented on #197
@kamijoutouma if it's a message, yes

[2016-03-08 16:25] sonnyp commented on #197
I recommend this book to learn about XMPP

https://books.google.de/books?id=SG3jayrd41cC&printsec=frontcover&dq=xmpp+definitive+guide&hl=de&ei=SaogTPr0NdeUOMzwpS0&sa=X&oi=book_result&ct=result#v=onepage&q&f=false

[2016-03-08 16:26] sonnyp commented on #197
Also

http://www.adarshr.com/fun-with-xmpp-and-google-talk
and
http://www.adarshr.com/fun-with-xmpp-and-google-talk-part-2

[2016-03-08 16:33] kamijoutouma commented on #197
Thx
On Mar 8, 2016 11:28 AM, "Sonny Piers" <notifications@github.com> wrote:

[2016-03-08 16:33] #197 closed

[2016-03-29 11:54] zooldk opened #199 "Reconnect / offline"
FYI: issue moved form https://github.com/node-xmpp/core/issues/89 to here.

Hi Guys,

I've been experimenting a bit with this library and using it as a XMPP client.
I have experienced a lot of problems during disconnection of the networks.

E.g. when I disconnect I expect it to either give me an event "disconnect" or "offline" that I can react on. It does not happen when is do the disconnect.

I h

[2016-03-30 10:25] sonnyp commented on #199
@zooldk define 'disconnect' please

unplugging the cable? calling client.end()? disabling WiFi? ...

[2016-04-03 10:42] siptowebrtc opened #201 "messages to chat-group are failing with error 400 bad request"
I have a code which is working fine by sending chats to individual jabber id , however if i try to send chat to a chat-group it fails by 400 Bad request

My code is  below , I have verfied the chat-group ID  by sending the message from other clients
any pointers will help me greatly.

In this code I am implementing REST API , a chat is send when a POST message  is recieved and message and to is ga

[2016-04-03 19:47] sonnyp commented on #201
stanza type must be groupchat not chat

[2016-04-03 19:47] #201 closed

[2016-04-06 10:20] zooldk commented on #199
Yes. When unplugging. I have updated my node.js and will try again soon. Will get back.

[2016-04-06 10:41] zooldk commented on #199
ok. So tried again. And when I have unplugged (no wifi) - then nothing happens. I have waited for a while for a TCP timeout etc. but nothing happens.

The funny thing is that I am receiving the "disconnect" event when I have reconnected my wifi.

Here is my little test (BOSH connection):
[code]

[2016-04-07 12:19] bdipak commented on #199
Same issue with me. Below is my observation:

1.  If I don't set the socket "setKeepAlive" then I don't get any event of internet disconnect/internet connect. My client thinks it is connected as it didn't get any disconnected event.

2. If I set keep alive time then I get disconnected event after internet is connected(ideally it should be on internet disconnection)

PS: I am using lib version: nod

[2016-04-13 10:41] zooldk commented on #199
same issue. any news here?

[2016-04-18 10:20] Dyrk opened #202 "Client priority"
Is it possible to add `priority` field to the client parameters?
```var client = new Client( { priority : 50, ... } ); ```

Use case:
We have chat bot connected to xmpp server from different physical servers (to guarantee 100% uptime):
bot@xmpp_host/bot1
bot@xmpp_host/bot2
bot@xmpp_host/bot3

And when bot with resource "bot2" is down, XMPP server forward message both to /bot1 and /bot3. But only o

[2016-04-18 10:25] sonnyp commented on #202
@Dyrk the priority is set when sending the presence stanza

https://xmpp.org/rfcs/rfc6121.html#presence-syntax-children-priority

[2016-04-18 10:25] #202 closed

[2016-04-28 17:11] shusak opened #204 "IE11 exceptions during setRequestHeader in browserified version"
I realize this is in browser-request, however, when using a browserified version of this project within IE, if the developer console is opened, it will exception on the xhr.setRequestHeader line in the following code:

[code]

The code works fine in Google Chrome, however fails in IE.

[2016-04-28 17:17] sonnyp commented on #204
what exception?

according to https://msdn.microsoft.com/en-us/library/ms536752%28v=vs.85%29.aspx `setRequestHeader` is supported since IE7

[2016-04-28 17:36] sonnyp commented on #204
you might also want to consider stanza.io for browser XMPP

[2016-04-28 17:42] shusak commented on #204
Sorry forgot the exception, it is "InvalidStateError" and appears to happen when setting Content-Type to text/xml.

This happens on a POST to my BOSH server, and it appears to happen several times on each POST.

I've added some rudimentary logging and see that it on initial connect of my BOSH connection, i see 9 exceptions all trying to set content type to "text/xml; charset=utf-8" when this occur

[2016-04-28 17:45] sonnyp commented on #204
Thanks.

My guess would be that IE doesn't let you set headers after the connect has opened. In any case this is a browser-request issue, could you report it back there?

I'm living this open so that we can close it once browser-request has fixed the issue and we bumped the version.

[2016-04-28 17:47] sonnyp commented on #204
nevermind, browser-request looks inactive, we should look at an alternative

[2016-04-28 17:47] shusak commented on #204
Yeah I noticed that too when I went there to file a request.

[2016-04-28 17:49] sonnyp commented on #204
we could use simply use request (with browserify and without browser-request) but that'll make the browser bundle pretty huge

In any case I don't think we need something _that_ big, maybe fetch ?

[2016-04-28 17:54] sonnyp commented on #204
meh, even github/fetch is way bigger than we need

we should write our own wrapper with just what we need

[2016-04-28 17:55] sonnyp commented on #204
@shusak would you like to give it a try? should be pretty simple and I can give a hand

[2016-04-28 17:56] sonnyp commented on #204
meanwhile, you may want to look at https://github.com/otalk/stanza.io

[2016-04-28 18:16] shusak commented on #204
I will look into both options (stanza.io first to see if I can swap it in).

[2016-05-19 09:51] robertklep opened #206 "DigestMD5 authentication issues on Node 6 + solution"
A project of mine that uses `node-xmpp-client` is throwing XMPP authentication failures when using Node v6; with Node v4, the same code works just fine.

I tracked it down to [this line](https://github.com/node-xmpp/client/blob/b8c232634c7417c4d64aa6a87f9d8455daef0c4c/lib/authentication/digestmd5.js#L12); for Node v6, you need to explicitly provide an encoding of `binary`:

    hash.update(s, 'bin

[2016-05-19 12:55] sonnyp commented on #206
What server do you use?

[2016-05-19 13:00] robertklep commented on #206
External server over which I have no control :-( No idea what it's running, but I doubt it's Node.

However, the following demonstrates the difference between v4 and v6:
[code]

On v4, the output is `da630c00d04be7f24cdaaacd01cf2e30`, on v6, the output is `7c5a057231e6f983c72b8b5461891a0c`.

[2016-05-19 13:05] sonnyp commented on #206
Fails on Node.js 6 indeed https://travis-ci.org/node-xmpp/client/builds/131408382

Looks like a Node.js regression, could you open an issue there?

[2016-05-19 13:10] robertklep commented on #206
It's not a regression but an API change.

[Node v4](https://nodejs.org/docs/latest-v4.x/api/crypto.html#crypto_hash_update_data_input_encoding): _"If encoding is not provided, and the data is a string, an encoding of 'binary' is enforced"_

[Node v6](https://nodejs.org/api/crypto.html#crypto_hash_update_data_input_encoding): _"If encoding is not provided, and the data is a string, an encoding of '

[2016-05-19 13:32] sonnyp commented on #206
Oh I missed that.

Fixing.

[2016-05-19 13:39] sonnyp commented on #206
server: https://github.com/node-xmpp/server/pull/147

[2016-05-19 13:43] sonnyp commented on #206
client: https://github.com/node-xmpp/client/pull/207

[2016-05-19 13:45] sonnyp commented on #206
An other reason to switch to monorepo...

[2016-05-19 13:54] sonnyp commented on #206
@robertklep done v3.0.1 please confirm the issue is fixed for you

[2016-05-19 13:56] robertklep commented on #206
Yeah, that fixes it for me. Thanks! 😀

[2016-05-19 13:56] #206 closed

[2016-05-19 14:09] sonnyp commented on #206
@robertklep thanks for the help

[2016-05-19 14:11] sonnyp commented on #148
https://github.com/node-xmpp/client/pull/200

[2016-05-19 15:01] sonnyp commented on #206
component: https://github.com/node-xmpp/component/pull/45

[2016-05-26 11:06] Dyrk opened #208 "Keep-Alive is not working"
I use this code from example in Read.me, but it seems it doesn't work:
[code]

Client is still disconnecting each few minutes. Log looks like:
[code]

[2016-05-26 21:02] sonnyp commented on #208
looks like you're not replying correctly to XMPP pings

can you log incoming and outgoing stanzas?

[2016-05-27 08:37] Dyrk commented on #208
[code]

Yep, @sonnyp, you are right. When I added from="" and to="" fields to pong, it started to work as expected.

`<iq id="4080938274" type="result" from="buddy@192.168.0.1/support" to="192.168.0.1"/>`

[2016-05-27 08:37] #208 closed

[2016-05-27 09:44] sonnyp commented on #208
if you have XMPP pings then you probably don't need `setTimout(0)` and `setKeepAlive`

[2016-05-27 09:45] sonnyp commented on #208
what is your XMPP server?

replying without from/to attributes should work

[2016-05-27 09:46] Dyrk commented on #208
@sonnyp MongooseIM: https://www.erlang-solutions.com/products/mongooseim.html

[2016-05-27 20:05] sonnyp commented on #208
okay I guess they removed that specific non-standard behavior from ejabberd codebase

maybe node-xmpp should add automagically from and to attributes if missing

[2016-06-02 21:35] sonnyp commented on #148
https://github.com/node-xmpp/node-xmpp/pull/305

[2016-06-02 21:35] #148 closed

[2016-06-10 11:18] aigninja commented on #148
@sonnyp thanks :+1:

[2016-06-21 07:31] siptowebrtc opened #209 "Getting error "Cannot bind the resource " while sending chat to a Chat group"
Hi

I have below code and I am using it to send chat to a chat group and it works fine , however after 7 to 8 chats I get a message "cannot bind the resource"  , tries hard to troubleshoot this  but not getting any clue , can anyone guide on this please

On checking the client.js  in node-xmpp-client library got  to know that the message is coming from
"Client.prototype._handleBindState" function

[2016-06-21 11:41] siptowebrtc commented on #209
Looks like the issue  is resolved now , I have added conn.end() and the issue is not coming , however  if possible please let me know if the approach is right .

var express = require('express');
var bodyParser = require('body-parser');
var app = express();
var morgan = require('morgan');
var xmpp = require('node-xmpp-client');

// configure app to use bodyParser()
// this will let us get the data

[2016-06-21 11:55] sonnyp commented on #209
please format your comments and use ``` for code blocks

[2017-02-11 21:48] JorgeSasiain opened #211 "XMPP authentication failure with Openfire user"
I have this `index.js` file (code borrowed from the basic example at http://node-xmpp.org/doc/client.html:

[code]

But when I try node index.js I get the following error:

[code]

`bot@osboxes` is a user created with an Openfire server. The user exists and I was able to login with it in a XMPP client (Profanity), using JID 'bot@osboxes' and password 'bot', the same values I specified in the
`inde

[2017-02-28 14:31] oanguenot opened #212 "Manage proxy ?"
Hello,

I don't know if it is a bug or not, but I don't find explanation on how I can manage a websocket connection using node-xmpp-client through a proxy using https-proxy-agent ?

Is it a possible to send extra ws configuration when creating the Client ?

Thanks in advance,
Regards,
Olivier

[2017-03-14 14:35] trasba opened #213 "XMPP authentication failure with Prosody"
I did an online investigation and it seems that the issue occured several times but there is never a proper solution posted.
I tried a lot with the sasl mechanism tried (digest-md5, plain, external) nothing works I always get the same result.
However I can login to the xmpp server with several xmpp clients (via android).

Running the js I get "XMPP authentication failure"
However if I connect to a

[2017-03-15 07:52] trasba commented on #213
Problem solved. After I updated from node-xmpp-client: 3.0.0 to 3.2.0 it works like a charm.
For everyone who has similar problems:
Actually I wanted to install and run the hubot-xmpp package. However in the package.json of this package the version 3.0.0 is fixed.
	"node-xmpp-client": "3.0.0"
If I change this to:
	"node-xmpp-client": "3.2.0"
	or
	"node-xmpp-client": "^3.0.0"
It works for me.
One m

[2017-03-15 07:52] #213 closed

[2017-05-03 11:49] #211 closed